{% load static %}
<!DOCTYPE html>
<html>

<head>
	<style type="text/css">
		.jumbotron {
			margin: 30px;
		}
	</style>
	<style>
		body {
			background-color: rgb(43, 170, 81);
		}

		h2 {
			color: blue;
			text-align: center;
		}

		h1 {
			color: red;
			text-align: center;
		}

		p {
			font-family: verdana;
			font-size: 20px;
		}
	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

	<title>Inicio auxiliar 3</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<a class="navbar-brand" href="../">Index</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">Bienvenida <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#">Información</a>

			</div>

		</div>
	</nav>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Este es un título de h1</h1>
				</div>
			</div>
		</div>
		<center>
			<div class="row">
				<div class="col-md-12">
					<h2>Este es un título h2</h2>
				</div>
			</div>
		</center>

		<center>
			<div class="row">
				<div class="col-md-12">
					<h3>Este es un título h3</h3>
				</div>
			</div>
		</center>

		<center>
			<div class="row">
				<div class="col-md-12">
					<h4>Este es un título h4</h4>
				</div>
			</div>
		</center>

		<center>
			<div class="row">
				<div class="col-md-12">
					<h5>Este es un título h5</h5>
				</div>
			</div>
		</center>

		<center>
			<div class="row">
				<div class="col-md-12">
					<h6>Este es un título h6</h6>
				</div>
			</div>
		</center>

		<div class="jumbotron">
			<div class="col-md-12">
				<!-- Se crea una división exclusiva para la tabla -->
				<table class="	table table-hover">
					<tr>
						<!-- Se define la primera fila -->
						<!-- Se agrega contenido a la fila -->
						<td> Esta es la primera columna</td>
						<td> Esta es la segunda columna</td>
						<td> Esta es la tercera columna</td>
					</tr>
					<tr>
						<!-- Segunda fila-->
						<td> Celda 2.1 </td>
						<td> Celda 2.2 </td>
						<td> Celda 2.3 </td>
					</tr>
				</table>
			</div>
		</div>

		<div class="container-fluid">
			<!-- División exclusiva para links-->
			<div class="row">
				<a class="btn btn-primary" href="https://www.google.cl/"> Este es un link a Google</a>
			</div>

			<br> <!-- Este tag sirve para saltar una línea-->

			<div class="row">
				<a class="btn btn-warning" href="../formulario"> Link a la vista de formulario del proyecto Django (por
					ahora sin ningún link, por eso #)</a>
			</div>
		</div>
		<br>
	</div>
</body>

</html>